@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="continer min-vh-100 text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
</div>